{% extends 'base.html' %}
{% block content %}
{%load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="pages-graph-title">
    <h2 class="pages-main-subtitle">Динамика уровня зарплат по годам</h2>
</div>
<div class="pages-graph">
    <canvas id="salaryChart" width="400" height="200"></canvas>
    <script>
        // Подготовка данных для графика средней зарплаты
        const salaryData = {{ year_sal_data|safe }};
        const labelsSalaries = Object.keys(salaryData);
        const dataSalaries = Object.values(salaryData);

        // Создание графика средней зарплаты
        const ctxSalaries = document.getElementById('salaryChart').getContext('2d');
        const salaryChart = new Chart(ctxSalaries, {
            type: 'line',
            data: {
                labels: labelsSalaries,
                datasets: [{
                    label: 'Средняя зарплата',
                    data: dataSalaries,
                    borderColor: 'rgb(0,128,0)',
                    backgroundColor: 'rgba(168,228,160,0.2)',
                    fill: true,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>

<h2 class="pages-main-subtitle">Таблица с данными о зарплатах по годам</h2>
<table id="pagesSalaryByYearTable" class="pagesTable" border="1">
    <thead>
    <tr>
        <th>Зарплата (₽)</th>
        <th>Год</th>
    </tr>
    </thead>
    <tbody>
    <!-- Данные будут добавлены здесь с помощью JS -->
    </tbody>
</table>
<script>
    // Заполнение таблицы данными о зарплате
    const SalaryByYearTableBody = document.querySelector('#pagesSalaryByYearTable tbody');

    // Проходим по данным зарплат и добавляем строки в таблицу
    for (let i = 0; i < labelsSalaries.length; i++) {
        const row = document.createElement('tr');

        const salaryCell = document.createElement('td');
        // Округляем значение зарплаты до целого и форматируем с пробелами
        salaryCell.textContent = Math.round(dataSalaries[i]).toLocaleString('ru-RU') + ' ₽';
        row.appendChild(salaryCell);

        const yearCell = document.createElement('td');
        yearCell.textContent = labelsSalaries[i];
        row.appendChild(yearCell);

        SalaryByYearTableBody.appendChild(row);
    }
</script>


<div class="pages-graph-title">
    <h2 class="pages-main-subtitle">Динамика зарплат по городам</h2>
</div>

<div class="pages-graph">
    <canvas id="salaryByCityChart" width="400" height="200"></canvas>
    <script>
        const salaryByCityData = {{ city_sal_data|safe }};
        console.log(salaryByCityData); // Проверка данных в консоли

        const cityLabels = Object.keys(salaryByCityData);
        const cityData = Object.values(salaryByCityData);

        // Ограничиваем количество городов до 50
        const limitedCityLabels = cityLabels.slice(0, 50);
        const limitedCityData = cityData.slice(0, 50);

        // Создание графика зарплат
        const ctxCitySalaries = document.getElementById('salaryByCityChart').getContext('2d');
        const citySalaryChart = new Chart(ctxCitySalaries, {
            type: 'bar',  // Можно использовать 'line' или 'bar'
            data: {
                labels: limitedCityLabels, // Используем ограниченные метки
                datasets: [{
                    label: 'Средняя зарплата',
                    data: limitedCityData, // Используем ограниченные данные
                    borderColor: 'rgb(0,128,0)',
                    backgroundColor: 'rgba(168,228,160,0.2)',
                    borderWidth: 1,
                    fill: true,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Зарплата (в рублях)'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Расположение'
                        }
                    }
                }
            }
        });
    </script>
    <h2 class="pages-main-subtitle">Таблица с данными о зарплатах по городам</h2>
<table id="pagesSalaryByCityTable" class="pagesTable" border="1">
    <thead>
    <tr>
        <th>Зарплата (₽)</th>
        <th>Город</th>
    </tr>
    </thead>
    <tbody>
    <!-- Данные будут добавлены здесь с помощью JavaScript -->
    </tbody>
</table>

<script>
    // Заполнение таблицы данными о зарплатах по городам
    const SalaryByCityTableBody = document.querySelector('#pagesSalaryByCityTable tbody');

    function fillTable(limit) {
        SalaryByCityTableBody.innerHTML = ''; // Очищаем таблицу перед заполнением
        for (let i = 0; i < limit; i++) {
            const row = document.createElement('tr');

            const countCell = document.createElement('td');
            countCell.textContent = cityData[i].toLocaleString('ru-RU') + ' ₽';
            row.appendChild(countCell);

            const cityCell = document.createElement('td');
            cityCell.textContent = cityLabels[i];
            row.appendChild(cityCell);

            SalaryByCityTableBody.appendChild(row);
        }
    }

    // Заполняем таблицу первыми 10 значениями
    fillTable(10);
</script>
</div>


<div class="pages-graph-title">
    <h2 class="pages-main-subtitle">Динамика количества вакансий по годам</h2>
</div>

<div class="pages-graph">
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <canvas id="vacanciesChart" width="400" height="150"></canvas>
    <script>
        // Передаем данные из Django в JavaScript
        const vacanciesData = {{ vacancies_by_year|safe }};

        // Подготовка данных для графика
        const labels = vacanciesData.map(entry => entry.year);
        const data = vacanciesData.map(entry => entry.count);

        // Создание графика
        const ctx = document.getElementById('vacanciesChart').getContext('2d');
        const vacanciesChart = new Chart(ctx, {
            type: 'line', // Тип графика (линейный)
            data: {
                labels: labels,
                datasets: [{
                    label: 'Количество вакансий',
                    data: data,
                    borderColor: 'rgb(0,128,0)',
                    backgroundColor: 'rgba(168,228,160,0.2)',
                    fill: true,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <h2 class="pages-main-subtitle">Таблица с данными о вакансиях по годам</h2>
<table id="pagesVacancyByYearTable" class="pagesTable" border="1">
    <thead>
    <tr>
        <th>Количество вакансий</th>
        <th>Год</th>
    </tr>
    </thead>
    <tbody>
    <!-- Данные будут добавлены здесь с помощью JavaScript -->
    </tbody>
</table>
<script>
    // Заполнение таблицы данными о вакансиях
    const vacancyByYearTableBody = document.querySelector('#pagesVacancyByYearTable tbody');

    // Проходим по данным о вакансиях и добавляем строки в таблицу
    for (let i = 0; i < labels.length; i++) {
        const row = document.createElement('tr');

        const countCell = document.createElement('td');
        countCell.textContent = data[i];
        row.appendChild(countCell);

        const yearCell = document.createElement('td');
        yearCell.textContent = labels[i];
        row.appendChild(yearCell);

        vacancyByYearTableBody.appendChild(row);
}
</script>
</div>


<div class="pages-graph-title">
    <h2 class="pages-main-subtitle">Топ-20 навыков</h2>
</div>
<div class="pages-graph">
    <canvas id="skillsChart" width="400" height="150"></canvas>
    <script>
    // Данные для графика ТОП-20 навыков
    const topSkills = {{ top_skills|safe }}; // Получаем данные из контекста
    const skills = topSkills.map(skill => skill[0]); // Извлекаем названия навыков
    const skillCounts = topSkills.map(skill => skill[1]); // Извлекаем количество упоминаний навыков

    // Проверка данных в консоли
    console.log(skills);
    console.log(skillCounts);

    // Создание графика ТОП-20 навыков
    const ctxSkills = document.getElementById('skillsChart').getContext('2d');
    const skillsChart = new Chart(ctxSkills, {
        type: 'bar', // Тип графика: столбчатая диаграмма
        data: {
            labels: skills,
            datasets: [{
                label: 'Частота навыков',
                data: skillCounts,
                borderColor: 'rgb(0,128,0)',
                backgroundColor: 'rgba(168,228,160,0.2)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'ТОП-20 навыков'
                }
            }
        }
    });
</script>
    <h2 class="pages-main-subtitle">Табличное представление навыков</h2>
<table id="pagesSkillsTable" class="pagesTable" border="1">
    <thead>
    <tr>
        <th>Навык</th>
        <th>Частота</th>
    </tr>
    </thead>
    <tbody>
    <!-- Данные будут добавлены здесь с помощью JavaScript -->
    </tbody>
</table>

<script>
    // Заполнение таблицы данными
    const topSkillsTableBody = document.getElementById('pagesSkillsTable').getElementsByTagName('tbody')[0];
    topSkills.forEach(skill => {
        const row = topSkillsTableBody.insertRow();
        const cellSkill = row.insertCell(0);
        const cellCount = row.insertCell(1);
        cellSkill.textContent = skill[0]; // Название навыка
        cellCount.textContent = skill[1]; // Частота
    });
</script>

</div>

<div>
    <h2 class="pages-main-subtitle">Доля вакансий по городам</h2>
    <div class="pages-graph">
        <canvas id="cityChart" width="400" height="200"></canvas>
    </div>
    <script>
        const vacanciesByCityData = {{ vacancies_data_json|safe }};
        console.log(vacanciesByCityData); // Проверка данных в консоли
        // Проверяем, есть ли данные
        if (!vacanciesByCityData || vacanciesByCityData.length === 0) {
            console.error('Нет данных для отображения');
        } else {
            // Фильтруем данные только для графика, исключая значения менее 5
            const filteredDataForChart = vacanciesByCityData.filter(entry => entry.count >= 5);

            // Подготовка данных для графика
            const labels = filteredDataForChart.map(entry => entry.area_name || 'Не указано'); // Обработка пустых полей
            const data = filteredDataForChart.map(entry => entry.count);

            // Создание графика
            const ctx = document.getElementById('cityChart').getContext('2d');
            const cityChart = new Chart(ctx, {
                type: 'bar', // Тип графика: столбчатая диаграмма
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Количество вакансий по городам',
                        data: data,
                        borderColor: 'rgb(68,148,74)',
                        backgroundColor: 'rgba(168,228,160,0.2)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
    </script>
    <h2 class="pages-main-subtitle">Таблица вакансий по городам</h2>
<table id ="pagesVacancyTable" class="pagesTable" border="1">
    <thead>
        <tr>
            <th>Город</th>
            <th>Количество вакансий</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="showMoreDiv">
        <button id="showMoreButton" class="showMoreButton" style="margin-top: 10px;">Посмотреть больше</button>
    </div>
    <script>

        // Заполнение таблицы данными (все данные)
        const VacancyByCityTableBody = document.getElementById('pagesVacancyTable').getElementsByTagName('tbody')[0];

        // Отображаем только первые 10 значений
        const initialCount = 10;
        vacanciesByCityData.slice(0, initialCount).forEach(entry => {
            const row = VacancyByCityTableBody.insertRow();
            const cellCity = row.insertCell(0);
            const cellCount = row.insertCell(1);
            cellCity.textContent = entry.area_name || 'Не указано'; // Название города
            cellCount.textContent = entry.count; // Количество вакансий
        });

        // Переменная для отслеживания текущего количества отображаемых строк
        let displayedCount = initialCount;

        // Обработчик для кнопки "Посмотреть больше"
        const showMoreButton = document.getElementById('showMoreButton');
        showMoreButton.addEventListener('click', () => {
            // Удаляем кнопку
            showMoreButton.style.display = 'none';

            // Заполняем оставшиеся данные
            vacanciesByCityData.slice(displayedCount).forEach(entry => {
                const row = VacancyByCityTableBody.insertRow();
                const cellCity = row.insertCell(0);
                const cellCount = row.insertCell(1);
                cellCity.textContent = entry.area_name || 'Не указано'; // Название города
                cellCount.textContent = entry.count; // Количество вакансий
            });

            // Обновляем количество отображаемых строк
            displayedCount = vacanciesByCityData.length; // Теперь показываем все данные
        });
    </script>

</div>

{% endblock %}

