{% extends 'base.html' %}
{% block content %}
{%load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="pages-graph-title">
    <h2 class="pages-main-subtitle">Динамика уровня зарплат по годам</h2>
</div>
<div class="pages-graph">
    <canvas id="salaryChart" width="400" height="200"></canvas>
    <script>
        // Подготовка данных для графика средней зарплаты
        const salaryData = {{ year_sal_data|safe }};
        const labelsSalaries = Object.keys(salaryData);
        const dataSalaries = Object.values(salaryData);

        // Создание графика средней зарплаты
        const ctxSalaries = document.getElementById('salaryChart').getContext('2d');
        const salaryChart = new Chart(ctxSalaries, {
            type: 'line',
            data: {
                labels: labelsSalaries,
                datasets: [{
                    label: 'Средняя зарплата',
                    data: dataSalaries,
                    borderColor: 'rgb(0,128,0)',
                    backgroundColor: 'rgba(168,228,160,0.2)',
                    fill: true,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>

<h2 class="pages-main-subtitle">Таблица с данными о зарплатах по годам</h2>
<table id="pagesSalaryByYearTable" class="pagesTable" border="1">
    <thead>
    <tr>
        <th>Зарплата (₽)</th>
        <th>Год</th>
    </tr>
    </thead>
    <tbody>
    <!-- Данные будут добавлены здесь с помощью JS -->
    </tbody>
</table>
<script>
    // Заполнение таблицы данными о зарплате
    const SalaryByYearTableBody = document.querySelector('#pagesSalaryByYearTable tbody');

    // Проходим по данным зарплат и добавляем строки в таблицу
    for (let i = 0; i < labelsSalaries.length; i++) {
        const row = document.createElement('tr');

        const salaryCell = document.createElement('td');
        // Округляем значение зарплаты до целого и форматируем с пробелами
        salaryCell.textContent = Math.round(dataSalaries[i]).toLocaleString('ru-RU') + ' ₽';
        row.appendChild(salaryCell);

        const yearCell = document.createElement('td');
        yearCell.textContent = labelsSalaries[i];
        row.appendChild(yearCell);

        SalaryByYearTableBody.appendChild(row);
    }
</script>

<div class="pages-graph-title">
    <h2 class="pages-main-subtitle">Динамика количества вакансий по годам</h2>
</div>

<div class="pages-graph">
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <canvas id="vacanciesChart" width="400" height="150"></canvas>
    <script>
        // Передаем данные из Django в JavaScript
        const vacanciesData = {{ vacancies_data|safe }};

        // Подготовка данных для графика
        const labels = vacanciesData.map(entry => entry.year);
        const data = vacanciesData.map(entry => entry.count);

        // Создание графика
        const ctx = document.getElementById('vacanciesChart').getContext('2d');
        const vacanciesChart = new Chart(ctx, {
            type: 'line', // Тип графика (линейный)
            data: {
                labels: labels,
                datasets: [{
                    label: 'Количество вакансий',
                    data: data,
                    borderColor: 'rgb(0,128,0)',
                    backgroundColor: 'rgba(168,228,160,0.2)',
                    fill: true,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <h2 class="pages-main-subtitle">Таблица с данными о вакансиях по годам</h2>
<table id="pagesVacancyByYearTable" class="pagesTable" border="1">
    <thead>
    <tr>
        <th>Количество вакансий</th>
        <th>Год</th>
    </tr>
    </thead>
    <tbody>
    <!-- Данные будут добавлены здесь с помощью JavaScript -->
    </tbody>
</table>
<script>
    // Заполнение таблицы данными о вакансиях
    const vacancyByYearTableBody = document.querySelector('#pagesVacancyByYearTable tbody');

    // Проходим по данным о вакансиях и добавляем строки в таблицу
    for (let i = 0; i < labels.length; i++) {
        const row = document.createElement('tr');

        const countCell = document.createElement('td');
        countCell.textContent = data[i];
        row.appendChild(countCell);

        const yearCell = document.createElement('td');
        yearCell.textContent = labels[i];
        row.appendChild(yearCell);

        vacancyByYearTableBody.appendChild(row);
}
</script>
</div>

{% endblock %}
