body {
    font-family: "Golos Text", serif;
    background-color: #f9f9fb;
    margin: 0;
    padding: 20px;
    color: #333;
    line-height: 1.6;
}

.job-listings-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.job-listing {
    background: #fff;
    border: 1px solid #e0e6ed;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: transform 0.2s, box-shadow 0.2s;
}

.job-listing:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.job-details {
    flex-grow: 1;
}

.job-title a {
    font-size: 20px;
    color: #0056b3;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.job-title a:hover {
    color: #003f8a;
    text-decoration: underline;
}

.job-company {
    font-size: 15px;
    color: #555;
    margin: 8px 0;
}

.job-salary {
    font-size: 18px;
    color: #1d4ed8;
    font-weight: 500;
    margin: 10px 0;
}

.logo {
    width: 90px;
    height: 90px;
    margin-left: 20px;
    border-radius: 12px;
    border: 1px solid #e0e6ed;
    object-fit: contain; /* Обеспечивает видимость всего изображения без обрезки */
    object-position: center; /* Центрирует изображение */
    background-color: #fff; /* Фон для прозрачных логотипов */
}


.desc {
    font-size: 15px;
    color: #60666d;
    margin-top: 10px;
    line-height: 1.5;
    max-height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.job-city {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
    font-style: italic;
}

.job-exp {
    background-color: #edf2f7;
    border-radius: 5px;
    padding: 8px 12px;
    margin-top: 10px;
    font-size: 14px;
    color: #495057;
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
}

.job-date {
    font-size: 13px;
    color: #9da5b1;
    margin-top: 10px;
}

.job-listing:hover .job-title a {
    color: #003f8a;
}

.job-listing:hover {
    cursor: pointer;
}
